<h1>Listing bookmarks</h1>
 
<div id="tag_cloud">
      
      <% @bookmarks.each do |bookmark| %>
        <%= bookmark.title %><br />
      <% end %>

      <% @hash_tags.each do |hash_tag| %>
        <h2><%= hash_tag.name %></h2><br />
          <% @bookmarks.each do |bookmark| %>
            <%= bookmark.title %><br />
        <% end %>
      <% end %>

    
      
</div>
 
 
