<h1>Listing bookmarks</h1>

  <div id="tag_cloud">
    <% @hash_tags = [] %>
    <% tag_cloud Bookmark.tag_counts, %w[s m l] do |tag, css_class| %>
      <% @hash_tags << tag.name %>
    <% end %>

    <% @hash_tags.each do |hash_tag| %>
      <br />
      <h2><%= link_to "##{hash_tag}", "#{hash_tag}_path" %></h2>
      <% (Bookmark.tagged_with([hash_tag])).each do |bookmark| %><br />
        <%= link_to bookmark.title, bookmark %>
        <%= raw bookmark.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      <% end %>
    <% end %>
  </div>
