<h1>Listing bookmarks</h1>

  <div id="tag_cloud">
    <% @hash_tags = [] %>
    <% tag_cloud Bookmark.tag_counts, %w[s m l] do |tag, css_class| %>
      <% @hash_tags << tag.name %>
    <% end %>

    <% @hash_tags.each do |hash_tag| %>
      <br />
      <h2><%= "##{hash_tag}" %></h2>
      <% (Bookmark.tagged_with([hash_tag])).each do |bookmark| %><br />
        <%= link_to bookmark.title, bookmark %>
      <% end %>
    <% end %>
  </div>
